<div class="header">

    <div class="d-flex">
        <div class="col p-0 page-info">
            <!-- Start of Header in Desktop -->
            <div class="my-5 d-none d-md-block">
                
            </div>
            <!-- End of Header in Desktop -->
        </div>
        <!-- Start of Header's Right Side -->
        <div class="col d-flex p-0 left-side">
            <div class="row m-0 align-items-center">
                <!-- <div class="col px-2">
                    <div>
                        <img src="/assets/icons/search.svg" />
                    </div>
                </div>
                <div class="col px-2">
                    <div>
                        <img src="/assets/icons/noti.svg" />
                    </div>
                </div> -->
                <div class="col px-2">
                    <a class="dropdown-item" (click)="SignOut()">Sign out</a>
                </div>
            </div>
        </div>
        <!-- End of Header's Right Side -->
    </div>
</div>